<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<style>
        footer{
        position:fixed;
        bottom:0;
        left:0;
        right:0;
        height:30px;
        background:burlywood;
        color:whitesmoke;
        font-weight:bold;
        display:flex;
        justify-content:space-between;
        }
.btn3 {
    border:0px;
	font-family: arial;
	font-size:11px;
    background-color: rgba(255, 255, 255, 0.0);
	cursor:pointer;
	text-shadow:0px 1px 0px #4d3534;
}
</style>

</head>
<body>
<footer>
<form action="{%url 'login'%}">
        <input type="submit" class="btn3" value="Home" >
</form>
</footer>
</body>
</html>