<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>popup</title>
    <script language="javascript">

    </script>
<style>

td#td11{
   font-family:arial;
   font-size:1.04166666666667vw;
   padding-left:4%;
   width:40%;
}
td#td22{
   font-family:arial;
   font-size:1.04166666666667vw;
   padding-left:4%;
   width:40%;
}
#buttonlocation{
    margin-left:65%;
}
.tb3{
   margin-left:1.5625vw;
   border:1px solid black;
   font-family:arial;
   border-collapse:collapse;
   text-align:center;
    }
</style>

<head>
    {% include "topmenu.html" %}
</head>

<body>
<main>
        {% include "tablecss.html" %}
<div class="container">
        {% include "sidetable.html" %}

<div id="popup">
    <maintext> 수리제작의뢰서 </maintext><br>
    <div>
    <div class="radius1">
        <br>
    {% for work in work2 %}
        <a>&nbsp;◈ Job no. : </a> <recieve>{{work.job}}</recieve><br>
        <a>&nbsp;◈ Team : </a> <recieve>{{work.team}}</recieve><br>
        <a>&nbsp;◈ Name : </a> <recieve>{{work.rep}}</recieve><br>
    {% endfor %}
    {% for tel in user %}
        <a>&nbsp;◈ Tel No. : </a> <recieve>{{tel.usertel}}</recieve><br>
    {% endfor %}
    {% for rm in roomname %}
        <a>&nbsp;◈ Room Name : </a> <recieve>{{rm.roomname}}</recieve><br>
    {% endfor %}
    {% for work in work2 %}
        <a>&nbsp;◈ Room No. : </a> <recieve>{{work.roomno}}</recieve><br>
        <a>&nbsp;◈ ENG.Manager : </a> <recieve>{{work.engrep}}</recieve><br>
        <a>&nbsp;◈ Description :</a><br>
        <table id="tb1">
            <tr>
                <td id="td11">{{work.description}}</td>
            </tr>
            </table>
         <a>&nbsp;◈ Result :</a><br>
        <table>
            <tr>
                <td id="td22">{{work.summary}}</td>
            </tr>
        </table>
        <a>&nbsp;◈ Approval & Completed :</a><br>
         <table border= "1" width="300" align="center" class="tb3" style="table-layout:fixed">
             <tr height="40">
                 <td>{{work.approval}}</td>
                 <td>{{work.check}}</td>
             </tr>
             <tr>
                 <td>Approval</td>
                 <td>Completed</td>
             </tr>
         </table><br>
    </div>
            </div>
    {% endfor %}
</div>
<div id="sidemenubar">
{% include "sidemenubar.html"%}
</div>

<div id="listheader">
{% include "listheader.html"%}
</div>
</div>
</main>

<footer>
{% include "listfooter.html"%}
<f id="id">ID: {{idd2}}</f>
</footer>
</body>
</html>