<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <script language="javascript">


function Test(){

    var settings ='toolbar=0,directories=0,status=no,menubar=0,scrollbars=auto,resizable=no,width=690, height=500, left=50, top=10';
    window.open("/home/mysqltable", "수리제작의뢰 신청서", settings);

    }
</script>
</head>
<body>
아~~
 <form method="get" id="form1" name="form1">
            <input type="text" name="username" id="username">
            <input type="button"  class="myButton" value="Test" onclick="Test();">
</form>
</body>
</html>